.window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10%;
    padding: 50px 80px;
}
.grif {
    width: fit-content;
    position: absolute;
}
.grif img {
    width: 800px;
    height: 800px;
}
.tests {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    z-index: 2;
}
h1.title {
    align-self: start;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    padding-top: 80px;
    z-index: 2;
}
.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.categories div {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.categories div h3 {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories div article {
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    background: linear-gradient(124deg, #FFF 0%, #E9E9E9 100%);
    width: 160px;
    height: 130px;
    display: flex;
    justify-content: center;
}
.categories div article p{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.595px;
    align-self: end;
    padding-bottom: 5px;
}
.backBtn {
    align-self: start;
    z-index: 1;
    font-size: 12px;
}

@media only screen and (max-width: 1224px) {
    .tests {
        width: 40%;
        gap: 20px;
    }
}
@media only screen and (max-width: 776px) {
    .tests {
        width: 40%;
        flex-direction: column;
    }
}
